 @import '../../assets/baseSass/base.scss';

.contatos {
  width: 184px;
  height: 40;
  position: absolute;
  right: 6%;
  bottom: 11%;
  display: flex;  
  justify-content: space-between;
  align-items: center;
@media (max-width: 660px) {
  width: 140px;
  // bottom: 6%;
  right: 14%;
}
  .lista{
    width: 35px;
    height: 35px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid $colorDestaque;

    // background-color: $colorDestaque;
    img{
      width: 25px;
      height: 25px;
    }
  }
}