@import '../../../assets/baseSass/base.scss';

.navbar {
    max-width: 349px;
    height: 30px;
    margin-right: 64px;
    @media (max-width: 660px) {
    margin-right: 32px;
    max-width: 235px;
    }
    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .ancora {
            font-size: 0.875rem;
            color: $colorText;
            font-weight: bold;
            @media (max-width: 660px) {
              font-size: 0.65rem;
              }
        }
    }
}