@import '../../assets/baseSass/base.scss';

.sobre {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  margin-top: 24px;
  .sobreText{
    width: 302px;
    .titulosobre{
        @include Titulo;
    }

    .textSobre{
        @include TextoBase;
        font-size: 12px;
        .textSobreDestaque{
            color: $colorTextDestaque;
            font-weight: bold;
        }
    }

  }
  .habilidades{
    width: 86px;
    height: 327px;
    display: flex;
    overflow: scroll;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
}