$fontPrincipal: "Jacques Francois Shadow", serif;
$fontTexto: "Inter", sans-serif;

//Color
$colorText: #A2CAEA;
$colorTextDestaque: #63C1A4;
$colorDestaque: #B6EADA;
$colorAzulBg: #2F6A99;
$colorBgAzulEscuro: #2F6A99;
$colorGradienteDark: linear-gradient(140deg, rgba(6, 2, 47, 1) 100%, rgba(6, 2, 47, 1) 90%);
$colorGradienteTeste: linear-gradient(140deg, rgb(140, 135, 190) 100%,rgb(51, 34, 236) 90%);

@mixin Titulo {
    font-size: 2rem;
    color: $colorTextDestaque;
    font-weight: bold;

    @media (max-width: 660px) {
        font-size: 1.4rem;
    }
}

@mixin TextoBase {
    color: $colorText;
    font-family: $fontTexto;
    letter-spacing: .1em;

    strong {
        font-weight: bold;
        color: $colorDestaque;
    }


}

@mixin ConteinerPadrao {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 128px;
    box-sizing: border-box;
    gap: 120px;

    @media only screen and (min-width: 661px) and (max-width: 986px) {
        padding: 0 64px;

    }

    @media (max-width: 660px) {
        width: 80%;
        padding: 0 16px;
        gap: 12px;
    }
}