@import '../../assets/baseSass/base.scss';

.home {
    @include ConteinerPadrao;

    .banner {
        @include TextoBase;
        font-size: 1.6em;
        width: 484px;
        height: 245px;
        color: $colorText;
        margin-top: 12%;
        
    }

    .myFace{
        width: 40%;
        height: 65%;
        margin-top: 8%;
    }
}