@import '../../../../assets/baseSass/base.scss';

.destaque {
  padding: 4px;
  border-radius: 8px;
  color: $colorBgAzulEscuro;

  animation: color-change-3x 4s linear infinite alternate both;


  @keyframes color-change-3x {
    0% {
      background: #0a383b;
    }
    50% {
      background: #4f9aa0;
    }
    100% {
      background: #0f3da0;
    }
  }
}
.asli {
    font-size: 0.875rem;
    color: $colorText;
    font-weight: bold;
    @media (max-width: 660px) {
      font-size: 0.65rem;
      }
}

