@import '../../assets/baseSass/base.scss';

.cardhabilidades {
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  @include TextoBase;
  font-size: 1.4rem;

  background-color: $colorAzulBg;
  color: $colorText;


  @media only screen and (min-width: 661px) and (max-width: 986px) {
    font-size: 1.2rem;

  }

  @media (max-width: 660px) {
    font-size: 0.8rem;

  }

}