@import '../../assets/baseSass/base.scss';

.cardhabilidades {
  width: 40%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;

  background-color: $colorAzulBg;

  .logoHabilidade{
    width: 40px;
  }
}