@import '../../assets/baseSass/base.scss';

.portfolio {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-top: 90px;
    .portTitle {
        @include Titulo;
    }

    .portBanner {
        width: 60%;
        height: 280px;
        display: flex;
        justify-content: center;
        align-items: center;
        // background: rgb(162, 202, 234);
        // background: linear-gradient(329deg, rgba(162, 202, 234, 1) 0%, rgba(162, 202, 234, 1) 100%);
    }


}