@import '../../assets/baseSass/base.scss';


.paginapadrao {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    background: rgb(6, 2, 47);
    background: linear-gradient(140deg, rgba(6, 2, 47, 1) 100%, rgba(6, 2, 47, 1) 90%);

    header {
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: flex-end;

        @media (max-width: 660px) {
            height: 5%;
        }

        nav {
            width: 100%;
        }

        &::after {
            content: "";
            display: block;
            margin: 0 auto;
            width: 76%;
            border: 2px solid $colorDestaque;
            animation: scale-down-hor-center 120s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite forwards;

            @media (max-width: 660px) {
                width: 60%;
            }


        }
    }

    main {
        width: 100%;
        height: 80%;
        display: flex;
        justify-content: space-between;
        color: aqua;

        .divBefore {
            width: 5%;
            height: 100%;
            display: flex;
            justify-content: right;

            @media (max-width: 660px) {
                width: 10%;
            }

            &::after {
                content: "";
                display: flex;
                align-items: last baseline;
                height: 95%;
                margin: auto -8px auto 0;
                color: $colorBgAzulEscuro;
                font-size: 24px;
                font-weight: bold;
                border: 2px solid $colorDestaque;
                animation: scale-down-ver-center 120s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite;

            }
        }

        .divAfter {
            width: 5%;
            height: 100%;
            display: flex;

            @media (max-width: 660px) {
                width: 10%;
            }

            &::before {
                content: "";
                display: flex;
                align-items: last baseline;
                height: 95%;
                margin: auto 0 auto -9px;
                color: $colorBgAzulEscuro;
                font-size: 64px;
                font-weight: bold;
                border: 2px solid $colorDestaque;
                animation: scale-down-ver-center 120s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite;

            }
        }


        @keyframes scale-down-ver-center {
            0% {
                -webkit-transform: scaleY(1);
                transform: scaleY(1);
            }

            100% {
                -webkit-transform: scaleY(0.3);
                transform: scaleY(0.3);
            }
        }

    }

    .padraoFooter {
        width: 100%;
        height: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (max-width: 660px) {
            height: 5%;
        }

        .duasBarrasFooter {
            width: 60px;
            position: absolute;
            left: 6%;
            bottom: 2%;

            @media (max-width: 660px) {
                width: 30px;
                bottom: 12%;
                left: 11%;
            }
        }

        &::before {
            content: "";
            display: block;
            margin: 0 auto 15px auto;
            width: 76%;
            border: 2px solid $colorDestaque;
            animation: scale-down-hor-center 120s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite forwards;

            @media (max-width: 660px) {
                width: 60%;
            }

            @keyframes scale-down-hor-center {
                0% {
                    -webkit-transform: scaleX(1);
                    transform: scaleX(1);
                }
    
                100% {
                    -webkit-transform: scaleX(0.3);
                    transform: scaleX(0.3);
                }
            }

        }
    }
}